html, body {
   margin: 0;
   height: 100%;
   width: 100%;
   box-sizing: border-box;
   font-family: Menlo, Consolas, monospace;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

body > * {
   margin: 1vh;
}
